NEXT_PUBLIC_SUPABASE_URL=https://vraxaknyauqlnyardhla.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZyYXhha255YXVxbG55YXJkaGxhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAyODYzNTcsImV4cCI6MjA3NTg2MjM1N30.cCkKNzv0zKzg_CmHBvSbMEzN4kMSj-7ggh5yu9NiZT0
NEXT_PUBLIC_SITE_URL=https://nfoud.com
