NEXT_PUBLIC_SUPABASE_URL=https://wqcikbeglxfptnaamnpj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndxY2lrYmVnbHhmcHRuYWFtbnBqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjQwNDExOCwiZXhwIjoyMDg3OTgwMTE4fQ.TTxM-LNGWV2hVDOe9Zc6Y0bTLwzdUKJaj0MnlxOPwXE
REVALIDATION_SECRET=your-secret-key-for-revalidation-api
NEXT_PUBLIC_SITE_URL=https://nfoud.com
